<form id="user-form-new" class="form-horizontal" role="form" onsubmit="return createNewUser()">
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row" id="flash-message-overlay">
                <div class="row">
                </div>
            </div>
            <div class="col-md-11">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-4 control-label">username *</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username-new" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-4 control-label">password *</label>

                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="password-new"
                               placeholder="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRole" class="col-sm-4 control-label">role</label>

                    <div class="col-sm-8">
                        <select name="role-new" class="form-control">
                            {% for role in roles %}
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
        <input type="submit" value="save" class="btn btn-primary"/>
        <input name="_csrf_token" value="{{ token }}" type="hidden">
    </div>
</form>
