{% extends 'Base/Views/base.html.twig' %}

{% block title %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block description %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                Hello World
            </div>
        </div>
    </div>
    
{% endblock %}