{% extends 'Base/Views/base.html.twig' %}

{% block title %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block description %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block content %}
    Hello World<br />
    <a href="{{ path('logout') }}"><span class="glyphicon glyphicon-off"></span> Logout</a>
{% endblock %}