{% extends 'Base/Views/base.html.twig' %}

{% block title %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block description %}
    {{ parent() }} -  Übersicht
{% endblock %}

{% block content %}
	Hello World - <a href="{{ path('yaff.fhem.getValues', {device: 'WetterDresden'}) }}">TEST</a>
{% endblock %}